.py[cod]
.env
.vscode/
__pycache__/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.pdm-python
.venv/
**/.env
.DS_Store
.vscode/settings.json

# temp_folders and temp_files used for testing or development
cj_essay_assessment/
/*.xml

