# .pre-commit-config.yaml
# See https://pre-commit.com for more information

repos:
-   repo: local
    hooks:
    -   id: sync-rules
        name: Sync Rules from .mdc to .md
        entry: echo
        language: system
        verbose: true
        always_run: true
        pass_filenames: false
        stages: [pre-commit]
